body {
	margin:0px;
}

#container {
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgb(170, 242, 189);
}

#info {
	height:12%;
	text-align:center;
	background-color:rgb(211, 230, 245);
	border-bottom:2px solid black;
}

#gamePanel {
	height:87.5%;
	text-align:center;
	background-color:rgb(170, 242, 0);
}

#Player1DIV {
	background-color:rgb(180, 242, 189);
	border:3px solid black;
	position:relative;
	margin:auto;
	width: 60%;
	top:50px;
	height:200px;
}

#Player2DIV {
	border:3px solid black;
	position:relative;
	margin:auto;
	width : 60%;
	background-color:rgb(180, 242, 189);
	top:100px;
	height:200px;
}

.card {
	font-weight: bold;
	font-size:30px;
	background-color:green;
	border : 2px solid black;
	display: inline-block; 
	overflow: hidden; 
	width:50px;
	height:50px;
	margin-top:20px;
	margin-left:10px;
}
.OpponentCard {
	font-weight: bold;
	font-size:30px;
	background-color:red;
	border : 2px solid black;
	display: inline-block; 
	overflow: hidden; 
	width:50px;
	height:50px;
	margin-top:20px;
	margin-left:10px;
	padding-top:13px;
}

